:root {
  --black: #27292b;
  --gray: #393e46;
  --darkGray: #2c2f35;
  --blue: #00adb5;
  --pink: #ff2e63;
}
/* -------------------------- variable selectors -------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
  color: var(--pink);
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 999;
}

nav {
  display: flex;
  width: 50%;
  height: 50px;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-right: 10px;
}

nav a {
  margin: auto 10px;
  text-align: center;
}

h1,
h2 {
  margin: 0;
  font-family: "Pattaya", sans-serif;
}

a {
  font-family: "Pattaya", sans-serif;
  text-decoration: none;
  color: var(--pink);
}

button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

button:hover {
  background-color: var(--blue);
}

article {
  width: 50%;
  height: fit-content;
  border: 2px solid var(--pink);
  margin: 20px;
  text-align: left;
  max-height: 100%;
  background-color: var(--gray);
}

article h2 {
  text-align: center;
  margin: 5px;
  font-size: 4rem;
}

article p {
  margin: 0 0 20px 0;
}

form {
  display: flex;
  flex-flow: column;
  padding: 20px;
  text-align: left;
}

form label {
  margin: 10px 10px 10px 0px;
}

textarea,
input,
select {
  background-color: lightgray;
  margin-bottom: 5px;
}

/* -------------------------- class selectors -------------------------- */
.icon {
  margin-left: 10px;
  height: 100%;
}

.main-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  border-bottom: 2px solid var(--pink);
}

.product-img {
  width: 50%;
  margin-left: 25%;
}

.text-wrapper {
  margin: 2px auto 20px auto;
  height: fit-content;
  width: 85%;
  max-height: 50vh;
  overflow: auto;
  font-size: 1.3rem;
}

/* -------------------------- id selectors -------------------------- */
#header-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: var(--black);
  padding: 2px;
  flex-flow: row;
  justify-content: space-between;
}

#logo-container {
  display: flex;
  width: fit-content;
  height: 50px;
  flex-flow: row wrap;
}

#logo-container h1 {
  margin: auto 10px;
  padding: 0;
  width: 50%;
}

#home-container {
  background-color: var(--gray);
  text-align: center;
}

#slogan-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#products-container {
  background-color: var(--darkGray);
}

#product-container {
  display: flex;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}

#contact-container {
  background-color: var(--gray);
  height: 92vh;
}

#form-container {
  display: flex;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex-flow: column;
  padding: 10px;
}

#footer-container {
  z-index: 999;
  height: 8vh;
  width: 100%;
  background-color: var(--black);
}
